<main id="main">

  <!-- ======= Why Choose Us Section ======= -->
  <section id="why-us" class="why-us">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>How to Search</h2>

      </div>

      <div class="row g-0" data-aos="fade-up" data-aos-delay="200">

        <div class="col-xl-5 img-bg" style="background-image: url('img/mechanic.jpg')"></div>
        <div class="col-xl-7 slides  position-relative">

          <div class="slides-1 swiper">
            <div class="swiper-wrapper">

              <div class="swiper-slide">
                <div class="item">
                  <h3 class="mb-3">Select your model</h3>
                  <h4 class="mb-3">Select the model in the model dropdown.</h4>
                  <img src="img/model.png" class="img-fluid" alt="Model Dropdown">
                  <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, ipsam perferendis asperiores explicabo vel tempore velit totam, natus nesciunt accusantium dicta quod quibusdam ipsum maiores nobis non, eum. Ullam reiciendis dignissimos laborum aut, magni voluptatem velit doloribus quas sapiente optio.</p> -->
                </div>
              </div><!-- End slide item -->

              <div class="swiper-slide">
                <div class="item">
                  <h3 class="mb-3">Select the category</h3>
                  <h4 class="mb-3">Select the category in the category dropdown.</h4>
                  <img src="img/category.png" class="img-fluid" alt="Category Dropdown">
                  <!-- <p>Dolorem quia fuga consectetur voluptatem. Earum consequatur nulla maxime necessitatibus cum accusamus. Voluptatem dolorem ut numquam dolorum delectus autem veritatis facilis. Et ea ut repellat ea. Facere est dolores fugiat dolor.</p> -->
                </div>
              </div><!-- End slide item -->

              <div class="swiper-slide">
                <div class="item">
                  <h3 class="mb-3">Select Search</h3>
                  <h4 class="mb-3">Select the search button to provide the torque specs.</h4>
                  <img src="img/search.png" class="img-fluid" alt="Search">
                  <!-- <p>Neque voluptates aut. Soluta aut perspiciatis porro deserunt. Voluptate ut itaque velit. Aut consectetur voluptatem aspernatur sequi sit laborum. Voluptas enim dolorum fugiat aut.</p> -->
                </div>
              </div><!-- End slide item -->
            </div>
            <div class="swiper-pagination"></div>
          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>

      </div>

    </div>
  </section><!-- End Why Choose Us Section -->

  <!-- ======= Call To Action Section ======= -->
  <section id="call-to-action" class="call-to-action">
    <div class="container" data-aos="fade-up">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <h3>Search Wrangler Torque Specs</h3>
          <p>Select the model and category from the list below to filter your search results.</p>
          <div class="row justify-content-center">
            <div class="col-lg-6">
              <p>Model</p>
              <select class="form-select" id="model-select" aria-label="Default select example">
                <option selected>Select the Model</option>
                <option value="1">TJ</option>
                <option value="2">JK</option>
                <option value="3">JL</option>
                <option value="4">JT</option>
              </select>
            </div>
            <div class="col-lg-6">
              <p>Category</p>
              <select class="form-select" aria-label="Default select example">
                <option selected>Select the Category</option>
                <option value="1">Brakes</option>
                <option value="2">Frame</option>
                <option value="3">Axle</option>
                <option value="4">Suspension</option>
              </select>
            </div>
          </div>
          <a class="cta-btn" data-bs-toggle="modal" data-bs-target="#searchResults">Search</a>
        </div>
      </div>
    </div>
  </section><!-- End Call To Action Section -->
</main><!-- End #main -->

<!-- Scrollable modal -->
<!-- Modal -->
<div class="modal fade modal-xl modal-dialog-scrollable" id="searchResults" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Search Results</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Search Criteria:  {model}:{category}</p>
        <table class = "table table-striped">
          <tr>
            <th>Model</th>
            <th>Category</th> 
            <th>Description</th>
            <th>N-M</th>
            <th>FT-LBS</th>
            <th>IN-LBS</th>
            <th>Comments</th>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>